# Core scientific packages
openff-toolkit
sphinx
sphinx_rtd_theme
sphinx_autodoc_typehints
myst-parser
numpy
scipy
pandas
matplotlib
scikit-learn

# Chemistry & molecular dynamics
rdkit
parmed
MDAnalysis
MDAnalysisTests
#openff-toolkit

# Free energy / statistical mechanics
pymbar

# Your own package
-e ./  # editable install of your slow-rotations local repo
